<h2>List movimentations</h2>

<div id="message" role="alert" class="text-center alert">
    {{ msg }}
  </div>

<div class="row">
    <div class="col-1">
        <label for="period">Period: </label>
    </div>
    <div class="col-3">
        <select #periodSelected (change)="onPeriodChange()" class="form-control" id="periods" name="period" formControlName="periodId">
            <option *ngFor="let period of periods" [value]="period.id">{{ period.description }}</option>
        </select>
    </div>
    <div class="col-1">
        <label for="institution">Institution: </label>    
    </div>
    <div class="col">
        <select #institutionSelected (change)="onInstitutionChange()" class="form-control" id="institutions" name="institution" formControlName="institutionId">
            <option *ngFor="let institution of institutions" [value]="institution.id">{{ institution.name }}</option>
        </select>    
    </div>        
</div>

<div class="row mt-3 text-center">
    <div class="col">
        <button class="btn btn-primary" (click)="LoadMovimentationAsync()">List Movimentations</button>
    </div>
</div>

<div class="row mt-3" *ngIf="movimentations.length">
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width:10%">Date</th>
                <th style="width: 60%">Description</th>
                <th style="width: 10%">Value</th>
                <th style="width: 20%">Category</th>            
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let movimentation of movimentations">            
                <td>{{ movimentation.date | date: 'dd/MM/yyyy' }}</td>
                <td>{{ movimentation.description }}</td>
                <td>{{ movimentation.value | currency: 'BRL':'symbol':'1.2-2' }}</td>
                <td>{{ movimentation.category.name }}</td>
            </tr>
        </tbody>
    </table>
</div>