<h2>Bem-vindo</h2>
<ul>
    <li><a routerLink="/dashboard">Dashboard</a></li>
    <li>Categories</li>
    <ul>
        <li><a routerLink="/categories/list">List</a></li>
        <li><a routerLink="/categories/add">Register</a></li>
        <li><a routerLink="/categories/remove">Remove</a></li>
    </ul>
    <li>Institutions</li>
    <ul>
        <li><a routerLink="/institutions/list">List</a></li>
        <li><a routerLink="/institutions/add">Register</a></li>
        <li><a routerLink="/institutions/remove">Remove</a></li>
    </ul>
    <li>Periods</li>
    <ul>
        <li><a routerLink="/periods/list">List</a></li>
        <li><a routerLink="/periods/add">Register</a></li>
        <li><a routerLink="/periods/remove">Remove</a></li>
    </ul>
    <li>Movimentations</li>
    <ul>
        <li><a routerLink="/movimentations/list">List</a></li>
        <li><a routerLink="/movimentations/add">Register</a></li>
        <li><a routerLink="/movimentations/remove">Remove</a></li>
    </ul>

</ul>