<h2>Create new institution</h2>

<div id="message" role="alert" class="mx-auto alert">
  {{ msg }}
</div>

<form [formGroup]="institutionForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <div class="row">
      <div class="col-2"><label for="name">Name:</label></div>
      <div class="col"><input type="text" class="form-control" id="name" formControlName="name"></div>
    </div>
    <div class="row mt-4">
      <div class="col-2"><label for="initial-balance">Initial Balance: </label></div>
      <div class="col"><input name="initial-balance" type="number" step="0.01" class="form-control" id="initialBalance"
          formControlName="initialBalance" /></div>
    <!-- </div>
    <div class="row mt-4"> -->
      <div class="col-2"><label for="initial-balance-date">Initial balance date:</label></div>
      <div class="col"><input type="date" class="form-control" id="initialBalanceDate"
          formControlName="initialBalanceDate" /></div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col text-center">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>